/* body{
    margin: 0;
     padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #031321;
    font-family: consolas;
} */

*{
    margin: 0%;
    padding: 0%;
    margin-bottom: -5px;
    /* overflow: hidden; */
}

.connect-wallet-position{
    margin-left: 80%;
    margin-top: -49%;
}

.connect-wallet-button{
    position: relative;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 30px;
    color: #38E54D;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    transition: 0.2s;
}

.connect-wallet-button:hover{
    color: #255784;
    background: #38E54D;
    box-shadow: 0 0 10px #38E54D, 0 0 40px #38E54D, 0 0 80px #38E54D;
    transition-delay:1s ;
}

.connect-wallet-button span{
    position: absolute;
    display: block;
}

.connect-wallet-button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#38E54D);
}

.connect-wallet-button:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.connect-wallet-button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#38E54D);
}

.connect-wallet-button:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay:0.5s;
}

.connect-wallet-button span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#38E54D);
}

.connect-wallet-button:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay:0.25s;
}

.connect-wallet-button span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#38E54D);
}

.connect-wallet-button:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay:0.75s;
}